* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input ,textarea , button {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 1rem; 
  background-color: #060a2a;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(114, 9, 183, 0.37) -124.54%,
    rgba(57, 57, 57, 0.37) 100%
  );
  height: 8vh;
}

.logo {
  width: 12rem;
}

.nav-list {
  width: 30rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-list li {
  font-size: 1.2rem;
}

.menu {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

.menu:hover {
  color: #f72585;
  font-weight: bold;
  text-decoration: underline;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30em;
  color: #ffffff;
}

.elipse{
  height: 35em; 
  margin-right: 15rem; 
}

.bannerTexto {
  width: 22em;
}

.bannerTexto i {
  color: #f72585;
  font-size: 0.8em;
  font-style: normal;
  font-weight: bold;
}

.bannerTexto h1 {
  margin-block-start: 0.2em;
  margin-block-end: 0;
}

.bannerTexto span {
  color: #f72585;
}

.bannerTexto p {
  font-size: 0.9em;
  margin-block-start: 0.5em;
  margin-block-end: 0;
  font-weight: 400;
}

.bannerImage img {
  width: 20em;
}

div.bannerImage{ /*Definindo tamanho da div img*/
  position: relative; 
  width: 50rem; 
  height:  50rem;
}
div.bannerImage > img{ /*Definindo que a imagem pega 100% da div img*/
  width:100%; 
  height: 80%; 
  display: block; 
  margin-top: 7em; 
  opacity: 0.5;
}
div.bannerImage > div{
  position: absolute; 
  left: 20%;  
  top: 25%;  
  width:50%; 
  height: 50%; 
}

.abas {
  width: 100%;
  height: 50px;
  background: linear-gradient(#7209b7, #7209b700);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

div[class*="aba"] {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selecionado {
  background-image: url(../assets/abaSelecionada.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2em;
}

.card {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 20em;
  height: 15em;
  margin-bottom: 1em;
}

.card-gradient {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-size: cover;
  height: 500px;
  background: linear-gradient(to right, #000000, transparent);
  padding: 0%;
}
.card-top {
  background-color: #0c0285;
  height: 23px;
  clip-path: polygon(40% 0%, 6% 0%, 8% 100%, 38% 100%);
}
.card-title {
  margin-left: 10%;
  color: #f72585;
  font-size: 2em;
  font-weight: bold;
}
.corpo {
  margin-bottom: 10%;
  margin-left: 10%;
  color: white;
  width: 600px;
  height: 1px;
  line-height: 30px;
}
/* Estilos para o botão */
.card-button {
  margin-top: 5%;
  margin-bottom: -5%;
  background-color: #1abcfe;
  color: preto;
  font-size: 22px;
  font-weight: bold;
  border: none;
  padding: 7px 37px;
  border-radius: 8px;
}

.card-image {
  background-size: cover;
  height: 350px;
}



div.Hero > img{
  width:100%; 
  height: 100%; 
  
}
div.Hero > div{
  position: absolute; 
  margin-right: 15rem; 
  left: 25%;
  top: 20%;  
  width:50%; 
  height: 50%; 
}



.sombraEsquerda{
  height: 100%;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #F72585;
  color: white;
  width: 100%;
}

footer h2 { 
  color:#7209b7;
}

/* footer h5 { 
  color: #1ABCFE;
} */

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: linear-gradient(
      180deg,
      rgba(114, 9, 183, 0.37) -124.54%,
      rgba(57, 57, 57, 0.37) 100%
    );
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX((50px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}