* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #060a2a;
}

.abas {
  width: 100%;
  height: 50px;
  background: linear-gradient(#7209b7, #7209b700);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

div[class*="aba"] {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone {
  background: none;
  position: relative;
  height: 22px;
}

.icone path {
  fill: #f72585;
}

.selecionado {
  background-image: url(../assets/aba-selecionada.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
